<h1>Donar Drive</h1>

<form action="/plasmaLinks/donar/donarDrive" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="donarDrive[name]">
    </div>
    <div>
        <label for="conductedBy">Conducted by</label>
        <input type="text" id="conductedBy" name="donarDrive[conductedBy]">
    </div>
    <div>
        <label for="contactNo">Contact No</label>
        <input type="text" id="contactNo" name="donarDrive[contactNo]">
    </div>
    <div>
        <label for="date">Date of Conduct</label>
        <input type="text" id="date" name="donarDrive[date]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="donarDrive[location]">
    </div>
    <div>
        <label for="district">District</label>
        <input type="text" id="district" name="donarDrive[district]">
    </div>
    <div>
        <label for="supportedMedicalTeam">Supported Medical Team</label>
        <input type="text" id="supportedMedicalTeam" name="donarDrive[supportedMedicalTeam]">
    </div>
    <div>
        <label for="contactNoMedicalTeam">Contact Number of Medical Team</label>
        <input type="text" id="contactNoMedicalTeam" name="donarDrive[contactNoMedicalTeam]">
    </div>
    <div>
        <label for="description">Evenet Description</label>
        <input type="text" id="description" name="donarDrive[description]">
    </div>
    <button>Add Data</button>
</form>