<h1>Donar Spot</h1>

<ul>
    <% for(let donarSpot of donarSpots) {%>
        <li><%= donarSpot.name %></li>
        <li><%= donarSpot.contactNo %></li>
        <li><%= donarSpot.location %></li>
        <% } %>
</ul>