<h1>Needy Page</h1>

<p><a href="/plasmaLinks/needy/bloodPool">Blood Pool</a></p>
<p><a href="/plasmaLinks/needy/emergencypole">Emergency Pole</a></p>
<p><a href="/plasmaLinks/needy/nremedy">Remedy</a></p>
<p><a href="/plasmaLinks/needy/groupFinder">Group Finder</a></p>
<p><a href="">Help Desk</a></p>
<p><a href="">Talkie</a></p>