<% layout('layouts/boilerplate') %>
    <h1>Edit Data</h1>
    <form action="/plasmaLinks/<%= plasmaLink._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
        <input type="text" id="name" name="plasmaLink[name]" value="<%= plasmaLink.name%>">
        </div>
        <div>
            <label for="name">Location</label>
        <input type="text" id="location" name="plasmaLink[location]" value="<%= plasmaLink.location %>">
        </div>
        <button>Update data</button>
    </form>
    <a href="/plasmaLinks/<%=plasmaLink._id%>">Back to Data</a>