<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Harmattan:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap" />
</head>

<body>
    <div class="welcome-page">
        <div class="frame-6variant5">
            <div class="welcome-to-lifeline">Welcome to Lifeline</div>
            <img class="icon-heart-beat" alt="" src="🦆 icon heart beat.png" />

            <div class="saving-lives-together">Saving Lives Together</div>
        </div>
    </div>
</body>
<style>
    body {
        margin: 0px !important;
    }

    .welcome-to-lifeline {
        position: absolute;
        top: calc(50% - 79.5px);
        left: calc(50% - 383.55px);
        display: inline-block;
        width: 750.37px;
    }

    .icon-heart-beat {
        position: absolute;
        height: 38.79%;
        width: 10.68%;
        top: 10.21%;
        right: -0.07%;
        bottom: 51%;
        left: 89.39%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
    }

    .saving-lives-together {
        position: absolute;
        top: 111.58px;
        left: calc(50% - 182.71px);
        font-size: 39.05px;
        display: inline-block;
        width: 384.95px;
    }

    .frame-6variant5 {
        position: absolute;
        top: calc(50% - 79px);
        left: calc(50% - 384px);
        width: 767.11px;
        height: 159px;
    }

    .welcome-page {
        position: relative;
        background-color: #4270c9;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        text-align: left;
        font-size: 79.5px;
        color: var(--color-white);
        font-family: var(--font-itim);
    }
</style>

</html>