<!-- <% layout('layouts/boilerplate') %>
    <h1>All Donor's Data</h1>
    <div>
        <a href="/plasmaLinks/new">Add Data</a>
    </div>
    <ul>
        <% for(let plasmaLink of plasmaLinks) {%>
            <li><a href="/plasmaLinks/<%= plasmaLink._id %>">
                    <%= plasmaLink.name %>
                </a></li>
            <% } %>
    </ul> -->


    