<% layout('layouts/boilerplate') %>
    <form action="/plasmaLinks" method="POST">
        <div>
            <label for="name">Name</label>
        <input type="text" id="name" name="plasmaLink[name]">
        </div>
        <div>
            <label for="name">Location</label>
        <input type="text" id="location" name="plasmaLink[location]">
        </div>
        <button>Add Data</button>
    </form>
    <a href="/plasmaLinks">All Datas</a>