<% layout('layouts/boilerplate') %>
    <form action="/plasmaLinks" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="plasmaLink[name]">
        </div>
        <div>
            <label for="name">Location</label>
            <input type="text" id="location" name="plasmaLink[location]">
        </div>
        <div>
            <label for="phoneNo">Phone No</label>
            <input type="text" id="phoneNo" name="plasmaLink[phoneNo]">
        </div>
        <div>
            <label for="bloodGroup">Blood group</label>
            <input type="text" id="bloodgroup" name="plasmaLink[bloodGroup]">
        </div>
        <div>
            <label for="AadharNo">Aadhar No</label>
            <input type="text" id="AadharNo" name="plasmaLink[AadharNo]">
        </div>
        <div>
            <label for="DistrictName">District Name</label>
            <input type="text" id="DistrictName" name="plasmaLink[DistrictName]">
        </div>
        <div>
            <label for="age">Age</label>
            <input type="age" id="age" name="plasmaLink[age]">
        </div>
        <button>Add Data</button>
    </form>